.pictures-list {
    > li {
        display: inline-block;
        vertical-align: top;
        max-width: 200px;
        margin: 10px;

        .thumbnail {
            width: 200px;
            height: 200px;
        }
    }
}

.big-picture {
    figcaption {
        color: $caption-color;
        margin-top: 10px;
    }
}
